body {
	font-family: sans-serif;
	font-size: 32pt;
	text-align: center;
}

header {
	font-size: 48pt;
	font-weight: bold;
	padding: 20px;
	margin: 15px;
	background-color: #BFB;
}

.word {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
}
